# === MAVEN ===
target/
!.mvn/wrapper/maven-wrapper.jar

# === ARCHIVOS TEMPORALES ===
*.log
*.tmp
*.swp
*.bak

# === CONFIGURACIONES DE IDES ===

## Spring Tool Suite (STS) / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

## NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

## VS Code
.vscode/
.env

# === SISTEMA OPERATIVO ===
.DS_Store
Thumbs.db
